

<%- include ('partials/header.ejs') %>

<section class="splash-section">
    <div class="splash-container">
        <div class="splash-logo">
            <h1>Logo</h1>
        </div>
        <div class="splash-text">
            <h3>Something about my brand.</h3>
            <h3>that sounds interesting!</h3>
        </div>
    </div>
        <!-- <img src="https://picsum.photos/1200/300?grayscale" alt=""> -->
</section>


<section class="products">

    <h1>Take a Look at our Products</h1>

    <div class="product-grid">
        <div class="product">
            <div class="product-top">
                <h3>Product</h3>
            </div>
            <div class="product-bot">
                <div class="product-bot-text">
                    <p>This is some description of the product, which tells you stuff about it.</p>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="product-top">
                <h3>Product</h3>
            </div>
            <div class="product-bot">
                <div class="product-bot-text">
                    <p>This is some description of the product, which tells you stuff about it.</p>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="product-top">
                <h3>Product</h3>
            </div>
            <div class="product-bot">
                <div class="product-bot-text">
                    <p>This is some description of the product, which tells you stuff about it.</p>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="product-top">
                <h3>Product</h3>
            </div>
            <div class="product-bot">
                <div class="product-bot-text">
                    <p>This is some description of the product, which tells you stuff about it.</p>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="product-top">
                <h3>Product</h3>
            </div>
            <div class="product-bot">
                <div class="product-bot-text">
                    <p>This is some description of the product, which tells you stuff about it.</p>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="product-top">
                <h3>Product</h3>
            </div>
            <div class="product-bot">
                <div class="product-bot-text">
                    <p>This is some description of the product, which tells you stuff about it.</p>
                </div>
            </div>
        </div>
        
        <!-- <img src="https://picsum.photos/200" alt="">
        <img src="https://picsum.photos/200" alt="">
        <img src="https://picsum.photos/200" alt="">
        <img src="https://picsum.photos/200" alt="">
        <img src="https://picsum.photos/200" alt="">
        <img src="https://picsum.photos/200" alt=""> -->
    </div>
</section>


<section class="main">
    <!-- <div class="main-title">
        <h1>Main Section</h1>
    </div> -->
    <div class="grid">
        <div class="sides">
            <i class="fas fa-dove side left"></i>
        </div>
        <div class="content">
            <h2>This is some content</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id dolore distinctio deleniti ex hic assumenda! Harum ea exercitationem alias veritatis fugiat. Incidunt, corrupti!</p>
        </div>
        <!-- <div class="icon-right"></div> -->
        <div class="sides">
                <i class="fas fa-dove side flip"></i>
        </div>
    </div>
</section>

<%- include ('partials/footer.ejs') %>



